body {
  text-align: center;
  background-color: #eeeeee;
  color: black;
}
.Top {
  box-sizing: border-box;
  background-image: url('https://media.giphy.com/media/ffd0F6WNcRJMQ/giphy.gif');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top:37vh;
  height: 100vh;
  color:#eeeeee;
}
.Top h1 {
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 2vh;
}
.Top p {
  font-size: 2.5vw;
  font-family: 'Indie flower';
  font-style: italic;
}
.container {
  margin-top: 6%;
}
.container h2 {
  padding-bottom: 6vh;
  text-decoration: underline;
}
.col-md-6 {
  margin-bottom: 8%;
}
.row img {
  height:10vw;
  width: 10vw;
}
.row h3 {
  font-size: 2.3vw;
  color: black;
}
.row p {
  font-size: 1.8vw;
}
fieldset {
  border-radius: 10px;
  height: 47vh;
}
input {
  height:4vh;
  width:10vw;
  border-radius: 7px;
  border:1px solid black;
}
#submit {
  height:2vh;
  width: 6vw;
  border: 1px solid black;
  padding-top: 0.7%;
  padding-bottom: 2.5%;
  border-radius: 7px;
  margin-top: 1%;
}
