body {
  margin:10% 20%;
  text-align: center;
  background-color: #11648E;
}
fieldset {
  border-radius: 10px;
  height: 47vh;
}
input {
  height:4vh;
  width:10vw;
  border-radius: 7px;
  border:1px solid black;
}
.row img {
  height:10vw;
  width: 10vw;
}
#submit {
  margin-top: 1%;
}
