html{
  scroll-behavior: smooth;
}
body {
  text-align: center;
  background-color: #eeeeee;
  color: black;
  font-family: 'Dosis';
}
.Top {
  box-sizing: border-box;
  background-image: url('https://i.ytimg.com/vi/g_J1dqoXDKI/maxresdefault.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top:37vh;
  height: 100vh;
  color:black;
}
.Top h1 {
  font-size: 4vw;
  font-weight: bold;
  padding-bottom: 2vh;
}
.Top p {
  font-size: 2.5vw;
  font-family: 'Indie flower';
  font-style: italic;
}
.Top #arrow{
  font-family: 'Lobster';
}
.fa-arrow-alt-circle-down {
  font-size: 2.4vw;
  padding-top: 0.5vh;
  color: #0A75AB;
}
.fa-arrow-alt-circle-down:hover{
  opacity:0.8;
  transition: 0.4s;
}
.container {
  margin-top: 6%;
}
.container h2 {
  padding-bottom: 6vh;
  text-decoration: underline;
}
.col-md-6 {
  margin-bottom: 8%;
}
.row img {
  height:10vw;
  width: 10vw;
}
.row h3 {
  font-size: 2.3vw;
  color: black;
  font-weight: bold;
}
.row p {
  font-size: 1.8vw;
}
.row {
  border-bottom: 0.5px solid black;
}
a {
  color:#034EA2;
}
a:hover{
  font-weight: bold;
  text-decoration: none;
}
#areah{
  padding-top: 8vh;
}
.Areas{
  display: flex;
  width: 100%;
  color: white;
  justify-content: center;
}
.Formula1{
  background-image: url('https://ak2.picdn.net/shutterstock/videos/6096692/thumb/1.jpg');
  background-size: contain;
  background-position: center;
  font-weight: bold;
  width: 30vw;
  margin-right: 6%;
  height: 30vh;
}
.Formula2{
  background-image: url('https://ak2.picdn.net/shutterstock/videos/6096692/thumb/1.jpg');
  background-size: contain;
  background-position: center;
  font-weight: bold;
  width:30vw;
  height: 30vh;
}
.Areas p {
  margin-top: 24%;
  font-family: sans-serif;
}
#fieldset{
  margin-top:7%;
}
fieldset legend{
  font-weight: bold;
}
fieldset {
  background-color: rgb(192,192,192);
  border-radius: 6px;
  height: 130vh;
  margin-bottom: 10%;
}
fieldset img {
  height:15vw;
  width: 15vw;
  padding-bottom: 3%;
}
input {
  height:5vh;
  width:15vw;
  border-radius: 6px;
  border:1px solid black;
  margin-right: 2.5%;
  box-shadow: 3px 3px 4px grey, 0 3px 5px grey;
  opacity: 0.7;
}
input:hover{
  opacity: 1.1;
}
button{
  color:white;
  font-weight: bold;
}
button:hover{
  opacity: 0.8;
}
#area1{
  background-color: #637C33;
  height:4vh;
  width: 6vw;
  border: 1px solid black;
  padding-top: 0.7%;
  padding-bottom: 2.5%;
  border-radius: 7px;
  margin-top: 3%;
  margin-left: 3%;
}
#submit {
  background-color: rgb(0,76,144);
  height:4vh;
  width: 6vw;
  border: 1px solid black;
  padding-top: 0.7%;
  padding-bottom: 2.5%;
  border-radius: 7px;
  margin-top: 3%;
}
#result{
  padding-top: 3vh;
}
fieldset p {
  font-size: 1.7vw;
  font-family: fantasy;
}
